html, body {
    height: 100%;
    overflow: hidden;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
body{
    /* background-image: url(../images/zhu.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    position: relative;
    /* background:url(../images/bg1.jpg) no-repeat bottom right;  */
    /* background:url(../images/bg2.jpg) no-repeat top right;  */
    background:url(../images/bg5.jpg) no-repeat bottom right; 
    background-size:100%;
}

.poem{
    margin-top:49px;
    text-align: center;
}
    .poem .poem_title{
        display: inline-block;
        width: 54px;
        border:4px solid #f00;
        text-align: center;
        height:100px;
        padding:5px 0;
        vertical-align: top;
    }
        .poem .poem_title h3{
            display: inline-block;
            font-size: 18px;
            width: 40px;
            height:82px;
            padding:0 2px;
            color:#262626;
            border:2px solid #f00;
        }
        .poem .poem_title h3 span{
            text-indent: -9999px;
            display: block;
            width:100%;
            height:39px;
            overflow: hidden;
            background:transparent url(../images/wangyue.png) no-repeat; 
            background-size: auto 100%;
        }
        .poem .poem_title h3 span:first-child{
            background-position: -2px 0;
        }
        .poem .poem_title h3 span:last-child{
            background-position: -38px 0;
        }
        /* .poem .poem_title h3{
        display: inline-block;
        font-size: 18px;
        width: 32px;
        height:100%;
        padding:0 5px;
        color:#262626;
        border:2px solid #f00;
    } */

    .poem .poem_content{
        margin-top:41px;
        display:inline-block;
        margin-right:36px;
        overflow: hidden;
        height: 160px;
        width: 210px;
        /* width: 200px; */
    }
        .poem .poem_content span{
            display: block;
            width:100%;
            height:100%;
            background:transparent url(../images/poem1.png) no-repeat top left; 
            background-size: auto 100%;
            /* background:transparent url(../images/poem.png) no-repeat top left; 
            background-size: auto 90%; */
        }
    /* 文字竖排 */
    .verticle-mode {
        writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;      
        writing-mode: vertical-rl;
    }
    /* IE7比较弱，需要做点额外的动作 */
    .verticle-mode {
        *width: 120px;
    }
    .verticle-mode p {
        *display: inline;
        *writing-mode: tb-rl;
    }

.content{
    position: absolute;
    top:70%;
    right:0;
    left:0;
    height:120px;
    margin-top:-50px;
    background-color:rgba(0, 0, 0, .5);
    text-align: center;
    overflow: hidden;
}
    .content .logo{
        display: inline-block;
        width: 140px;
        height: 70px;
        background: transparent url(../images/ming.png) no-repeat top left;
        background-size: auto 80%;
        vertical-align: top;
        margin-right: 20px;
        margin-top: 20px;
    }
.content_nav{
    height:100%;
    display: inline-block;
    text-align: center;
    /* margin-right: 40%; */
    color:#000;
    zoom:1;
}
    .content_nav a{
        display: inline-block;
        text-decoration: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 4px
    }
    .content_nav:after{
        content:'';
        display: block;
        height:0;
        visibility: hidden;
        clear: both;
    }
    .content_nav li{
        float: left;
        display: block;
        list-style:none;
    }
    .content_nav>li{
        height:100%;
        margin-right:16px;
    }
    /* .content_nav>li:before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    } */
        .content_nav>li>a{
            width:20px;
            font-size: 16px;
            color:#fff;
            background-color: #f00;
            margin-top:12px;
            padding-bottom:2px;
            vertical-align: top;
            /* vertical-align: middle; */
        }

.content_subnav{
    display: inline-block;
    /* vertical-align: middle; */
    height:100%;
    margin-left:3px;
    vertical-align: top;
}
    .content_subnav>li{
        height:100%;
        margin-right:8px;
    }
    .content_subnav>li:last-child{
        margin-right:0;
    }
    /* .content_subnav>li:before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    } */
        .content_subnav>li>a{
            width:24px;
            font-size: 16px;
            color:#fff;
            background-color: #000;
            /* vertical-align: middle; */
            margin-top:12px;
            padding-bottom:2px;
        }
        .content_subnav>li>a:hover{
            color:#f00;
        }
        .content_subnav>li>a:active{
            color:#fff;
            background-color: #f00;
        }
    