@font-face {
    font-family: 'Glyphicons Halflings';
  
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
html, body {
    height: 100%;
    /* padding:55px; */
    background-color: #000;
    overflow: hidden;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
/* .mCSB_inside > .mCSB_container {
    margin-right: 0;
} */
.clearfloat:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1
}
    /* 文字竖排 */
    .verticle-mode {
        writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;      
        writing-mode: vertical-rl;
    }
    /* IE7比较弱，需要做点额外的动作 */
    .verticle-mode {
        *width: 120px;
    }
    .verticle-mode p {
        *display: inline;
        *writing-mode: tb-rl;

        text-align: left;
    }


.body{
   /*  position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0; */
    position: relative;
    height:0;
    width:100%;
    max-width: 900px;
    margin:0 auto;
    margin-bottom:50px;
    background-color: #fff;
    -webkit-transition: height 1.6s;
    -moz-transition: height 1.6s;
    -o-transition: height 1.6s;
    transition: height 1.6s;
}
/**标题*/
.header{
    max-width: 500px;
    margin-top:120px;
    margin-right:auto;
    margin-left:auto;
}
    .header h1{
        display: inline-block;
        width:50px;
        vertical-align: top;
    }
    .header p{
        display: inline-block;
        width:25px;
        vertical-align: top;
        color:#333;
        margin-top:100px;
        margin-right:50px;
    }
/**诗*/
.poem{
    max-width: 520px;
    width:100%;
    height: 300px;
    margin: 0 auto;
    margin-top:200px;
    text-align: right;
    -webkit-box-shadow:0 8px 32px 0 rgba(00,00,00,0.16);
    box-shadow: 0 8px 32px 0 rgba(00,00,00,0.16); 
    /* -webkit-box-shadow:0 0 32px 0 rgba(172,169,169,0.16);
    box-shadow: 0 0 32px 0 rgba(172,169,169,0.16); */
    transform:rotate(335deg);
    -ms-transform:rotate(335deg);
    -moz-transform:rotate(335deg);
    -webkit-transform:rotate(335deg);
    -o-transform:rotate(335deg);
}
    .poem .poem_icon{
        float: left;
        display: block;
        width: 150px;
        height: 100px;
        overflow: hidden;
        background: url(../images/icon3.jpg) no-repeat top left;
        background-size: auto 100%;
    }
    .poem .poem_content{
        padding-top: 100px;
        margin-right: 36px;
    }
        .poem .poem_content span{
            display: inline-block;
            width: 30px;
            font-size: 24px;
            text-shadow: 0 2px 0 rgba(0,0,0,.1);
            text-align: center;
        }
/**自评*/
.aboutMe{
    width: 120px;
    margin: 200px auto 50px;
    border: 1px solid #000;
    text-align: center;
    height: 550px;
}
    .aboutMe p{
        margin:0 25px;
    }
/**各分类标题*/
.title{
    margin: 100px auto;
    text-align: center;
    padding:50px;
    position: relative;
}
    .title::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        margin-left: -0.5px;
        background-color: #ccc;
    }
    .title h2:first-child{
        margin-bottom: 30px;
    }
/**技能栈说明*/
.skills_des{
    max-width: 500px;
    margin-top:80px;
    margin-right:auto;
    margin-left:auto;
    line-height: 1.8;

}
    .skills_des span{
        display: inline-block;
        text-align: left;
    }
/**技能栈图*/
.skills{
    position: relative;
    margin: 0 auto;
    width:400px;
    height:370px;
    margin-top:150px;
    font-size: 16px;
    font-weight: 600;
    
    -webkit-animation:baguaRotate 9s linear infinite; 
    -webkit-animation-fill-mode:both; 
    animation:baguaRotate 9s linear infinite; 
    animation-fill-mode:both;
}
.skills div:not(.yin-yang){
    position: absolute;
    display: inline-block;
    width:70px;
    height:100px;
    vertical-align: top;
    text-align: center;
}

.skills div span{
    display: block;
}
.skills div span:nth-child(5){
    margin-top: 5px;
}

.skills div:first-child{
    top:0;
    left:50%;
    margin-left:-35px;

}
.skills div:first-child span:nth-child(2){
    border-bottom: 8px solid #000;
    margin-top: 5px;
}
.skills div:first-child span:nth-child(3){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}
.skills div:first-child span:nth-child(4){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}

.skills div:nth-child(2){
    top: 40px;
    right: 70px;

    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);

}
.skills div:nth-child(2) span:nth-child(2){
    border-bottom: 8px solid #000;
    margin-top: 5px;
}
.skills div:nth-child(2) span:nth-child(3){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(2) span:nth-child(4){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}

.skills div:nth-child(3){
    top:135px;
    right:30px;

    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);

}
.skills div:nth-child(3) span:nth-child(2){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(3) span:nth-child(3){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(3) span:nth-child(4){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}

.skills div:nth-child(4){
    top:230px;
    right:70px;

    transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    
}
.skills div:nth-child(4) span:nth-child(2){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(4) span:nth-child(3){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(4) span:nth-child(4){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}

.skills div:nth-child(5){
    top:270px;
    left:50%;
    margin-left:-35px;

    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    
}
.skills div:nth-child(5) span:nth-child(2){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(5) span:nth-child(3){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(5) span:nth-child(4){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}

.skills div:nth-child(6){
    top:230px;
    left:70px;

    transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    -o-transform:rotate(225deg);
}
.skills div:nth-child(6) span:nth-child(2){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(6) span:nth-child(3){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(6) span:nth-child(4){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}

.skills div:nth-child(7){
    top:135px;
    left:30px;

    transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
}
.skills div:nth-child(7) span:nth-child(2){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(7) span:nth-child(3){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(7) span:nth-child(4){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}

.skills div:nth-child(8){
    position: absolute;
    top: 40px;
    left: 70px;

    transform:rotate(315deg);
    -ms-transform:rotate(315deg);
    -moz-transform:rotate(315deg);
    -webkit-transform:rotate(315deg);
    -o-transform:rotate(315deg);
}
.skills div:nth-child(8) span:nth-child(2){
    height:8px;
    border-left: 20px solid #000;
    border-right: 20px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(8) span:nth-child(3){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}
.skills div:nth-child(8) span:nth-child(4){
    border-bottom: 8px solid #000;
    margin-top: 10px;
}


.skills div:nth-child(8) span:nth-child(5){
    margin-left:-5px;
}


.yin-yang {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 125px;

    width: 120px;
    height: 120px;
    background: #eee;
    border-color: red;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;

    cursor: pointer;
    -webkit-animation:yinyangRotate 3s linear infinite; 
    -webkit-animation-fill-mode:both; 
    animation:yinyangRotate 3s linear infinite; 
    animation-fill-mode:both;
} 
.yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 23px solid red;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing: content-box;
}
.yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: red;
    border: 23px solid #eee;
    border-radius:100%;
    width: 12px;
    height: 12px;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing: content-box;
}
@-webkit-keyframes baguaRotate{
    from{ -webkit-transform:rotateZ(0deg);}
    to{ -webkit-transform:rotateZ(-360deg);}
}
@keyframes baguaRotate{
    from{ transform:rotateZ(0deg);}
    to{ transform:rotateZ(-360deg);}
}
@-webkit-keyframes yinyangRotate{
    from{ -webkit-transform:rotateZ(0deg);}
    to{ -webkit-transform:rotateZ(720deg);}
}
@keyframes yinyangRotate{
    from{ transform:rotateZ(0deg);}
    to{ transform:rotateZ(720deg);}
}

/**技能栈分析*/
.skills_analysis{
    max-width: 500px;
    padding:50px 20px;
    margin-top:100px;
    margin-right:auto;
    margin-left:auto;
    overflow: hidden;
    -webkit-box-shadow:0 8px 32px 0 rgba(00,00,00,0.16);
    box-shadow: 0 8px 32px 0 rgba(00,00,00,0.16); 
}
    .skills_analysis li{
        display: block;
        list-style:none;
        margin-top:20px;
    }
    .skills_analysis li.devide{
        border-bottom:1px solid #ccc;
        margin-right: -10px;
        margin-left: -10px;
    }
    .skills_analysis li:last-child{
        margin-bottom:25px;
    }
.skill_name{
    display: block;
    float: left;
    text-shadow: 0 2px 0 rgba(0,0,0,.1);
}
.getDesBtn{
    display: block;
    float: right;
    cursor:pointer;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../images/arrow.png) no-repeat top left;
    background-size: auto 100%;
}
    .getDesBtn.btndown{
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
.skill_des{
    /* display: none; */
    float:left;
    width:100%;
    /* height:0; */
    opacity: 0;
    padding: 0 32px;
    font-size: 14px;
    text-align: left;
    -webkit-transition: height .8s;
    -moz-transition: height .8s;
    -o-transition: height .8s;
    transition: height .8s;
}
.skills_icon{
    display: block;
    width: 500px;
    height:210px;
    margin-bottom:-50px;
    margin-left:-20px;
    overflow: hidden;
    background: url(../images/bg1.jpg) no-repeat bottom right;
    background-size: 100% auto;
}

/**工作经历*/
.exp{
    max-width:500px;
    margin-top:100px;
    margin-right:auto;
    margin-left:auto;
    padding:10px;
    border:2px solid #000;
    border-radius: 4px;
    height:400px;
}
    .exp .exp_part1{
        float:left;
        width:40%;
        height:100%;
        border-left:1px solid #111;
    }
    .exp .exp_part2{
        float:left;
        width:60%;
        height:100%;
        border-right:1px solid #111;
        border-left:1px solid #111;
    }
    .exp .verticle-mode{
        float:right;
    }

/**作品集合*/
.works_list{
    margin:50px auto;
    text-align: center;
}
    .works_list .work_link{
        position: relative;
        display: inline-block;
         /* width:230px;
         height: 480px; */
        width:250px;
        height: 580px;
        text-align: right;
        vertical-align: top;
        border:2px solid #000;
        margin:0 19px;
        margin-bottom:50px;
        border-radius: 32px;
        /* 210px  38*2 67*2 */
    }
    .works_list .work_link > span:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background-color: #fff;
        
    }
    .works_list .work_link > span:nth-child(1):after{
        content: '';
        position: absolute;
        top: -3px;
        left: 219px;
        width: 32px;
        height: 32px;
        background-color: #fff;
    }
    .works_list .work_link > span:nth-child(2){
        position: absolute;
        top: 11px;
        left: -2px;
        width: 16px;
        height: 16px;
        border: 2px solid #000;
        border-radius: 16px 0 0;
        border-right: none;
        border-bottom: none;
        
    }
    .works_list .work_link > span:nth-child(2):after{
        content: '';
        position: absolute;
        top: 0;
        left: 232px;
        width: 16px;
        height: 16px;
        border: 2px solid #000;
        border-radius: 0 16px 0;
        border-left: none;
        border-bottom: none;
    }
    .works_list .work_link > span:nth-child(3){
        position: absolute;
        top: -2px;
        left: 11px;
        width: 16px;
        height: 16px;
        border: 2px solid #000;
        border-radius: 16px 0 0;
        border-right: none;
        border-bottom: none;
        
    }
    .works_list .work_link > span:nth-child(3):after{
        content: '';
        position: absolute;
        top: -2px;
        left: 206px;
        width: 16px;
        height: 16px;
        border: 2px solid #000;
        border-radius: 0 16px 0;
        border-left: none;
        border-bottom: none;
    }

    .works_list .work_link > span:nth-child(4){
        position: absolute;
        bottom: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background-color: #fff;
        
    }
    .works_list .work_link > span:nth-child(4):after{
        content: '';
        position: absolute;
        bottom: -3px;
        left: 219px;
        width: 32px;
        height: 32px;
        background-color: #fff;
    }
    .works_list .work_link > span:nth-child(5){
        position: absolute;
        bottom: 11px;
        left: -2px;
        width: 16px;
        height: 16px;
        border: 2px solid #000;
        border-radius: 0 0 0 16px;
        border-right: none;
        border-top: none;
    }
    .works_list .work_link > span:nth-child(5):after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 232px;
        width: 16px;
        height: 16px;
        border: 2px solid #000;
        border-radius: 0 0 16px 0;
        border-left: none;
        border-top: none;
    }
    .works_list .work_link > span:nth-child(6){
        position: absolute;
        bottom: -2px;
        left: 11px;
        width: 16px;
        height: 16px;
        border: 2px solid #000;
        border-radius: 0 0 0 16px;
        border-right: none;
        border-top: none;
    }
        .works_list .work_link > span:nth-child(6):after{
            content: '';
            position: absolute;
            bottom: -2px;
            left: 206px;
            width: 16px;
            height: 16px;
            border: 2px solid #000;
            border-radius: 0 0 16px 0;
            border-left: none;
            border-top: none;
        }
        .works_list .work_link .work_title{
            display: inline-block;
            width:40px;
            margin-top:50px;
            margin-right:30px;
            text-align: center;
            height:140px;
            border:1px solid #000;
            font-size: 16px;
        }
            .works_list .work_link .work_title span{
                display: inline-block;
                width:18px;
                line-height: 30px;
            }
        .works_list .work_link .work_demo{
            max-width: 100%;
            margin-top:50px;
            height:190px;
            overflow: hidden;
            background: url(../images/work1_demo.png) no-repeat center left;
            background-size: 100%;
        }
        .works_list .work_link .work_des{
            height:90px;
            overflow: hidden;
            font-size: 14px;
            color:#444;
            text-align: left;
            margin:30px 30px;
        }     
        
/**模态层*/
.model{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    z-index: 100;
    text-align: center;

    opacity: 1.74;
    display: none;

    overflow-x: hidden;
    overflow-y: auto;
}
.model::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.modal-dialog{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
/**作品展示*/
.work_part{
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}
    .work_part h3{
        position: relative;
        padding:50px 0;
        font-size: 24px;
        cursor: pointer;
    }
    .work_part h3:hover{
        opacity: .7;
    }
    .work_part .close{
        position: absolute;
        right:32px;
        top:10px;
        cursor: pointer;
    }
    .work_part .close:hover{
        opacity: .7;
    }
        .work_part h3::before{
            content:'';
            position: absolute;
            top:30px;
            right:20%;
            width: 50px;
            height:50px;
            overflow: hidden;
            background: url(../images/icon2.jpg) no-repeat bottom right;
            background-size: 50px 50px;
        }
    .work_part .work_des{
        display: inline-block;
        max-width: 640px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }
        .work_part .work_des span{
            display: inline-block;
            text-align: left;
        }
    .work_part .work_demo{
        display: block;
        max-width: 100%;
        height:230px;
        margin-top:50px;
        overflow: hidden;
        background: url(../images/work1_demo.png) no-repeat top left;
        background-size: auto 100%;
        -webkit-box-shadow:0 8px 32px 0 rgba(00,00,00,0.16);
        box-shadow: 0 8px 32px 0 rgba(00,00,00,0.16); 

        /* transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -o-transform:rotate(45deg); */
    }